Repository Open-Shu/shu: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier-frontend

.pre-commit-config.yaml:

# Pre-commit hooks for automatic linting
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python: Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]
        exclude: ^(backend/src/tests/|backend/migrations/|backend/scripts|plugins)
      # Run the formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Python: Check for common security issues
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        args: [--severity-level, medium, -c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]
        exclude: ^(tests/|backend/migrations/)

  # TODO: Too many mypy errors for now, we'll work our way through it

  # Python: Type checking with mypy
  # NOTE: Using --follow-imports=silent to only report errors in changed files,
  # not in imported modules. This allows type checking new code without fixing
  # the entire codebase.
  # ADDITIONAL NOTE: Using --no-error-summary to reduce noise in pre-commit output
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.13.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies:
  #         - types-requests
  #         - types-PyYAML
  #         - types-redis
  #         - types-python-jose
  #         - "sqlalchemy[mypy]"
  #         - fastapi
  #         - pydantic
  #       args:
  #         - --config-file=pyproject.toml
  #         - --follow-imports=silent
  #         - --show-error-codes
  #         - --no-error-summary
  #       exclude: ^(tests/|migrations/versions/|backend/src/tests/)

  # Frontend: ESLint and Prettier (using local installation)
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c 'cd frontend && npx eslint --fix $(echo "$@" | sed "s|frontend/||g")' --
        language: system
        files: ^frontend/.*\.(js|jsx)$
        pass_filenames: true

      - id: prettier-frontend
        name: prettier (frontend)
        entry: bash -c 'cd frontend && npx prettier --write $(echo "$@" | sed "s|frontend/||g")' --
        language: system
        files: ^frontend/.*\.(js|jsx|json|css|md)$
        exclude: package-lock\.json$
        pass_filenames: true

  # General: Trailing whitespace, EOF, YAML
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]
        exclude: ^frontend/  # Let Prettier handle frontend JSON files
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-toml
      - id: fix-byte-order-marker

  # Security: Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: ^(backend/src/tests/|plugins/)|package-lock\.json$

Linting and bad revert fixes
  backend/src/shu/api/chat.py
  backend/src/shu/experiences/steps/decision_control.py
  backend/src/shu/services/experience_executor.py
  frontend/src/components/ExperiencesAdmin.js
  plugins/shu_debug_echo/atlas_debug_echo/plugin.py
  plugins/shu_gmail_digest/plugin.py
Due: eslint, prettier-frontend

Oh boy, that linter
  backend/src/tests/unit/experiences/steps/test_decision_control.py
  experiences/hotel-vip-arrival-experience.yaml
Due: none

Final PR fixes
  backend/src/shu/api/chat.py
  backend/src/shu/experiences/steps/decision_control.py
  backend/src/shu/services/experience_executor.py
  frontend/src/components/shared/DataRenderer.js
Due: eslint, prettier-frontend

feat(scheduler): [SHU-551] Consolidate plugin feeds and experience scheduling into unified scheduler; experience queues
  backend/src/shu/core/workload_routing.py
  backend/src/shu/main.py
  backend/src/shu/models/experience.py
  backend/src/shu/schemas/experience.py
  backend/src/shu/services/experience_executor.py
  backend/src/shu/services/plugins_scheduler_service.py
  backend/src/shu/services/scheduler_service.py
  backend/src/shu/worker.py
  backend/src/tests/unit/services/test_experience_executor.py
  backend/src/tests/unit/services/test_scheduler_service.py
Due: none

Update worker mode documentation; added docker-compose profiles for worker mode deployments
  Makefile
  README.md
  deployment/compose/docker-compose.yml
  docs/deployment/DEPLOYMENT_GUIDE.md
Due: none

fix(core): Simplify Redis backend selection logic and remove fallback configuration
  backend/src/shu/core/cache_backend.py
  backend/src/shu/core/config.py
  backend/src/shu/core/queue_backend.py
  backend/src/shu/services/plugin_execution.py
  backend/src/tests/unit/core/test_cache_backend.py
  backend/src/tests/unit/core/test_queue_backend.py
  plugins/shu_gchat_digest/plugin.py
Due: none

feat(workload_routing): [SHU-552] Migrate plugin feed execution from MAINTENANCE to INGESTION workload type
  backend/src/shu/core/workload_routing.py
  backend/src/shu/services/plugins_scheduler_service.py
  backend/src/shu/worker.py
  backend/src/tests/integ/test_queue_migrations_integration.py
  docs/deployment/DEPLOYMENT_GUIDE.md
  docs/policies/DEVELOPMENT_STANDARDS.md
Due: none

feat(scheduler): [Code review] Add retry safety for plugin execution and improve worker deployment flexibility
  Makefile
  backend/src/shu/services/plugin_execution.py
  backend/src/shu/services/plugins_scheduler_service.py
  backend/src/shu/services/scheduler_service.py
  backend/src/shu/worker.py
  backend/src/tests/unit/services/test_scheduler_service.py
  deployment/compose/docker-compose.yml
  docs/deployment/DEPLOYMENT_GUIDE.md
Due: none

chore(makefile): Update phony targets for worker deployment modes
  Makefile
Due: none

fix(linter): Clean up docstrings and remove unused imports across services and tests
  backend/src/shu/services/experience_executor.py
  backend/src/shu/services/file_staging_service.py
  backend/src/shu/services/plugins_scheduler_service.py
  backend/src/shu/worker.py
  backend/src/tests/integ/test_ingestion_pipeline_integration.py
  backend/src/tests/integ/test_queue_migrations_integration.py
  backend/src/tests/unit/core/test_cache_backend.py
  backend/src/tests/unit/core/test_inmemory_queue_sync_processing.py
  backend/src/tests/unit/core/test_worker_mode.py
  backend/src/tests/unit/plugins/outlook_mail/test_outlook_mail_errors.py
  backend/src/tests/unit/services/test_scheduler_service.py
  backend/src/tests/unit/worker/test_payload_validation.py
Due: none

missed one file in last commit
  plugins/shu_gchat_digest/plugin.py
Due: none

fix more linter issues
  backend/src/shu/services/file_staging_service.py
Due: none

fix (linter): resolve more linter errors and automated PR feedback
  backend/src/shu/plugins/host/log_capability.py
  backend/src/shu/plugins/host/utils_capability.py
  backend/src/shu/services/experience_executor.py
  backend/src/shu/services/scheduler_service.py
  backend/src/shu/worker.py
  pyproject.toml
Due: none

fix(experience_executor): Add ownership validation and refresh stale run data; linter fixes
  backend/src/shu/plugins/host/log_capability.py
  backend/src/shu/plugins/host/utils_capability.py
  backend/src/shu/services/experience_executor.py
  backend/src/shu/services/scheduler_service.py
Due: none

fix(linter): linter formatting
  backend/src/shu/services/experience_executor.py
Due: none

fix(linter): Resolve trailing whitespace and update secrets baseline
  .secrets.baseline
  backend/src/tests/integ/test_ingestion_pipeline_integration.py
  backend/src/tests/integ/test_queue_migrations_integration.py
  backend/src/tests/unit/plugins/outlook_mail/test_outlook_mail_errors.py
  docs/deployment/DEPLOYMENT_GUIDE.md
Due: none

docs(configuration): Clarify Redis failure modes and deployment requirements
  docs/policies/CONFIGURATION.md
Due: none

Migration to Vite
  deployment/docker/frontend/Dockerfile
  docs/FRONTEND_OVERVIEW.md
  docs/onboarding/README.md
  docs/policies/TESTING.md
  frontend/.env.example
  frontend/.eslintrc.json
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dashboard.js
  frontend/src/components/FeedDialog.js
  frontend/src/components/HealthMonitor.js
  frontend/src/components/PluginsAdmin.js
  frontend/src/components/__tests__/ExperienceRunDetailDialog.test.jsx
  frontend/src/components/__tests__/ExperiencesAdmin.test.jsx
  frontend/src/components/__tests__/ExportExperienceButton.test.jsx
  frontend/src/components/__tests__/ImportExperienceWizard.test.jsx
  frontend/src/components/__tests__/LLMTester.test.jsx
  frontend/src/components/__tests__/QuickStart.test.jsx
  frontend/src/components/chat/ModernChat/__tests__/ConversationSidebar.test.jsx
  frontend/src/components/chat/ModernChat/hooks/usePluginFlow.js
  frontend/src/components/chat/ModernChat/utils/chatConfig.js
  frontend/src/components/import-wizard/__tests__/ExperienceCreationStep.test.jsx
  frontend/src/components/import-wizard/__tests__/PlaceholderFormStep.test.jsx
  frontend/src/components/import-wizard/__tests__/YAMLInputStep.test.jsx
  frontend/src/components/shared/__tests__/ModelConfigurationSelector.test.jsx
  frontend/src/components/shared/__tests__/RecurringScheduleBuilder.test.jsx
  frontend/src/components/shared/__tests__/TriggerConfiguration.test.jsx
  frontend/src/services/api.js
  frontend/src/services/baseUrl.js
  frontend/src/services/config.js
  frontend/src/setupTests.js
  frontend/src/utils/log.js
  frontend/vite.config.js
  frontend/vitest-setup.js
Due: eslint, prettier-frontend

PR feedback
  .github/workflows/frontend-unit-tests.yml
  frontend/package.json
Due: prettier-frontend

swtich coverage lib
  .github/workflows/frontend-unit-tests.yml
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

fix (linter): resolve more linter errors and automated PR feedback
  backend/src/shu/services/experience_executor.py
Due: none

feat(auth): [SHU-553] Add auto-activate users on SSO login configuration
  .env.example
  backend/src/shu/core/config.py
  backend/src/shu/services/user_service.py
  backend/src/tests/unit/services/test_user_service.py
Due: none

fix(merge): bad merge fix
  backend/src/shu/services/experience_executor.py
Due: none

fix(linter): mark non-secret comments
  .env.example
Due: none

remove .env.example from .secrets.baseline
  .secrets.baseline
Due: none

fix(linter): add more pragma comments about false positive secret linting
  .env.example
Due: none

test(sso): add auto_activate_users setting to role consistency tests
  backend/src/tests/unit/api/test_sso_properties.py
Due: none

feat(plugin-execution): [SHU-554] Extract shared execution logic into dedicated runner service
  backend/src/shu/services/plugin_execution_runner.py
  backend/src/shu/services/plugins_scheduler_service.py
  backend/src/shu/worker.py
Due: none

refactor(plugin-execution): Optimize feed loading and improve error handling
  backend/src/shu/services/plugin_execution_runner.py
  backend/src/shu/services/plugins_scheduler_service.py
  backend/src/shu/worker.py
Due: none

fix(linter-format): Simplify status assignment line formatting
  backend/src/shu/services/plugin_execution_runner.py
Due: none

fix(plugin-execution): Handle serialization failures explicitly
  backend/src/shu/services/plugin_execution_runner.py
Due: none

fix(plugin-execution): Add logging for feed disabling and subscription check failures
  backend/src/shu/services/plugin_execution_runner.py
Due: none

fix(plugin-execution): Add explicit error returns for preflight failures
  backend/src/shu/services/plugin_execution_runner.py
Due: none

Remove old configs
  frontend/package.json
  frontend/vite.config.js
Due: eslint, prettier-frontend

Bump versions
  frontend/package.json
  frontend/vite.config.js
Due: eslint, prettier-frontend

Adjust test timeout
  frontend/src/components/__tests__/LLMTester.test.jsx
Due: eslint, prettier-frontend

Remove old index file
  frontend/public/index.html
Due: none

PR feedback
  .env.example
  .secrets.baseline
  README.md
  deployment/compose/docker-compose.yml
  docs/ARCHITECTURE.md
  docs/FRONTEND_OVERVIEW.md
  docs/onboarding/README.md
  docs/policies/CONFIGURATION.md
  docs/policies/DEVELOPMENT_STANDARDS.md
  frontend/.env.example
  frontend/.eslintrc.json
  frontend/src/services/config.js
Due: eslint, prettier-frontend
