Repository Open-Shu/shu: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier-frontend

eslint:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && npx eslint --fix $(echo "$@" | sed "s|frontend/||g")' --
  language: system
  pass_filenames: true

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd frontend && npx prettier --write $(echo "$@" | sed "s|frontend/||g")' --
  language: system
  pass_filenames: true

ESlint somehow still requires this to pass
  frontend/.eslintrc.json
Due: prettier-frontend

Fix secrets baseline
  .secrets.baseline
Due: none

Backend changes
  backend/src/shu/api/chat.py
  backend/src/shu/api/experiences.py
  backend/src/shu/core/streaming.py
  backend/src/tests/unit/api/test_chat.py
  backend/src/tests/unit/core/test_streaming.py
Due: none

Stash frontend
  frontend/src/components/ExperienceDashboard.jsx
Due: eslint, prettier-frontend

Fix messages cutoff after 50
  backend/src/shu/services/chat_service.py
  backend/src/shu/services/conversation_automation_service.py
Due: none

feat(config,logging): Add log rotation and configurable retention
  .env.example
  backend/src/shu/core/config.py
  backend/src/shu/core/logging.py
  backend/src/shu/services/scheduler_service.py
  deployment/compose/docker-compose.yml
  deployment/docker/api/Dockerfile
  deployment/docker/frontend/Dockerfile
Due: none

chore(deployment): Add clarifying comments to plugin volume mounts
  deployment/compose/docker-compose.yml
Due: none

fix(linter): Improve exception handling and file path management in logging module
  backend/src/shu/core/config.py
  backend/src/shu/core/logging.py
Due: none

fix(linter): Add allowlist pragma for secret in log archive cleanup
  backend/src/shu/core/logging.py
Due: none

fix(linter): Address more linting issues
  backend/src/shu/core/cache.py
  backend/src/shu/core/logging.py
  backend/src/shu/services/providers/adapters/openai_adapter.py
  backend/src/shu/services/providers/adapters/xai_adapter.py
Due: none

feat(logging): Implement log maintenance for worker processes and enhance log rotation handling
  .secrets.baseline
  Makefile
  backend/src/shu/core/logging.py
  backend/src/shu/worker.py
  deployment/compose/docker-compose.yml
Due: none

fix(logging): Prevent accidental mass-deletion in log archive cleanup by skipping cleanup for non-positive retention days
  backend/src/shu/core/logging.py
Due: none

fix(logging): Update log archive cleanup to compare on date boundaries for retention
  backend/src/shu/core/logging.py
Due: none

Wrap up experiences run
  .secrets.baseline
  backend/src/shu/services/experience_executor.py
  backend/src/shu/services/experience_service.py
  backend/src/shu/services/plugin_identity.py
  backend/src/tests/unit/plugins/test_executor_cache_operations.py
  frontend/src/components/ConnectedAccountsPage.jsx
  frontend/src/components/ExperienceDashboard.jsx
  frontend/src/components/ExperienceRunDialog.js
  frontend/src/components/IdentityStatus.js
  frontend/src/components/__tests__/ExperienceDashboard.test.jsx
  frontend/src/pages/ExperienceDetailPage.jsx
  frontend/src/pages/__tests__/ExperienceDetailPage.test.jsx
Due: eslint, prettier-frontend

chore: Squash release 006 migrations and fix Docker dev environment
  backend/migrations/versions/006_sixth_release_squash.py
  backend/migrations/versions/r006_0001_document_profiling_and_rate_limiting.py
  backend/migrations/versions/r006_0002_experience_platform.py
  backend/migrations/versions/r006_0003_add_is_favorite_to_conversations.py
  backend/migrations/versions/r006_0004_migrate_google_id_to_provider_identity.py
  backend/src/tests/unit/conftest.py
  backend/src/tests/unit/migrations/test_google_id_migration.py
  backend/src/tests/unit/migrations/test_google_id_migration_properties.py
  deployment/compose/docker-compose.yml
  frontend/package-lock.json
  frontend/vite.config.js
  requirements.txt
Due: eslint, prettier-frontend

PR feedback
  backend/src/shu/core/streaming.py
  frontend/src/components/ExperienceRunDialog.js
Due: eslint, prettier-frontend

Finalize fixes
  backend/src/shu/services/chat_service.py
  backend/src/shu/services/message_context_builder.py
Due: none

PR feedback
  backend/src/shu/api/experiences.py
  backend/src/shu/services/experience_executor.py
  backend/src/shu/services/experience_service.py
  backend/src/shu/services/plugin_identity.py
  frontend/src/components/ConnectedAccountsPage.jsx
  frontend/src/components/ExperienceRunDialog.js
  frontend/src/components/__tests__/ExperienceDashboard.test.jsx
  frontend/src/components/__tests__/LLMTester.test.jsx
Due: eslint, prettier-frontend

PR feedback
  backend/src/shu/services/chat_service.py
  backend/src/shu/services/conversation_automation_service.py
Due: none

Fix issue with async ingestion causing race conditions with file word count which left some files skipped
  plugins/shu_gdrive_files/plugin.py
Due: none

fix: Correct Vector fallback instantiation and clean up test mocks
  backend/migrations/versions/006_sixth_release_squash.py
  backend/src/tests/unit/migrations/test_google_id_migration.py
  deployment/compose/docker-compose.yml
Due: none

PR feedback
  backend/src/shu/core/streaming.py
  frontend/src/components/ConnectedAccountsPage.jsx
Due: eslint, prettier-frontend

fix(migrations,tests,deployment): Correct server default syntax and improve test assertions; consolidate duplicate code
  backend/migrations/versions/006_sixth_release_squash.py
  backend/src/tests/unit/migrations/test_google_id_migration.py
  deployment/compose/docker-compose.yml
  plugins/shu_gdrive_files/plugin.py
Due: none

docs: Update environment and Docker networking documentation for more clarity and consistency; fix linter issues
  .env.example
  .secrets.baseline
  README.md
  deployment/docker/frontend/Dockerfile
  docs/deployment/DEPLOYMENT_GUIDE.md
  docs/deployment/DOCKER_FRONTEND_NETWORKING.md
  docs/policies/CONFIGURATION.md
  frontend/README.md
Due: prettier-frontend

Fix lint
  .github/workflows/lint.yml
Due: none

Fix messages cutoff after 50 (#59)
  backend/src/shu/services/chat_service.py
  backend/src/shu/services/conversation_automation_service.py
  backend/src/shu/services/message_context_builder.py
Due: none

Fix lint (#63)
  .github/workflows/lint.yml
Due: none

Theme aware branding
  .env.example
  backend/src/shu/api/branding.py
  backend/src/shu/core/config.py
  backend/src/shu/schemas/branding.py
  backend/src/shu/services/branding_service.py
  docs/api_rbac.md
  frontend/index.html
  frontend/public/OpenShu-Logo-Black.png
  frontend/public/OpenShu-Logo-White-Wide.png
  frontend/public/favicon-black.png
  frontend/public/favicon-dark.png
  frontend/public/favicon.png
  frontend/public/logo-wide.png
  frontend/public/logo.png
  frontend/src/components/GoogleLogin.js
  frontend/src/components/ModernChat.js
  frontend/src/components/PasswordLogin.js
  frontend/src/components/QuickStart.jsx
  frontend/src/components/admin/BrandingSettings.jsx
  frontend/src/components/chat/ModernChat/ConversationSidebar.jsx
  frontend/src/components/chat/ModernChat/__tests__/ConversationSidebar.test.jsx
  frontend/src/components/layout/TopBar.jsx
  frontend/src/contexts/ThemeContext.jsx
  frontend/src/layouts/AdminLayout.js
  frontend/src/services/api.js
  frontend/src/utils/__tests__/brandingUtils.test.js
  frontend/src/utils/__tests__/constants.test.js
  frontend/src/utils/brandingUtils.js
  frontend/src/utils/constants.js
Due: eslint, prettier-frontend

PR fixes
  frontend/src/components/admin/BrandingSettings.jsx
Due: eslint, prettier-frontend

PR fixes
  backend/src/shu/services/experience_service.py
  backend/src/shu/services/plugin_identity.py
Due: none

User run experiences (#61)
  .secrets.baseline
  backend/src/shu/api/chat.py
  backend/src/shu/api/experiences.py
  backend/src/shu/core/streaming.py
  backend/src/shu/services/experience_executor.py
  backend/src/shu/services/experience_service.py
  backend/src/shu/services/plugin_identity.py
  backend/src/tests/unit/api/test_chat.py
  backend/src/tests/unit/core/test_streaming.py
  backend/src/tests/unit/plugins/test_executor_cache_operations.py
  frontend/src/components/ConnectedAccountsPage.jsx
  frontend/src/components/ExperienceDashboard.jsx
  frontend/src/components/ExperienceRunDialog.js
  frontend/src/components/IdentityStatus.js
  frontend/src/components/__tests__/ExperienceDashboard.test.jsx
  frontend/src/components/__tests__/LLMTester.test.jsx
  frontend/src/pages/ExperienceDetailPage.jsx
  frontend/src/pages/__tests__/ExperienceDetailPage.test.jsx
Due: eslint, prettier-frontend

PR fixes
  backend/src/shu/api/branding.py
  frontend/public/favicon-dark.png
  frontend/public/favicon.png
Due: none

Reset app title bug fix
  frontend/src/components/admin/BrandingSettings.jsx
Due: eslint, prettier-frontend

Fix plugin loader sys.path resolution for configurable SHU_PLUGINS_ROOT
  Makefile
  backend/src/shu/api/plugins_admin.py
  backend/src/shu/core/config.py
  backend/src/shu/plugins/loader.py
  docs/policies/CONFIGURATION.md
Due: none

fix(linter) update secrets baseline for false-positive secrets in linter output
  .secrets.baseline
Due: none

Theme aware branding (#64)
  .env.example
  backend/src/shu/api/branding.py
  backend/src/shu/core/config.py
  backend/src/shu/schemas/branding.py
  backend/src/shu/services/branding_service.py
  docs/api_rbac.md
  frontend/index.html
  frontend/public/OpenShu-Logo-Black.png
  frontend/public/OpenShu-Logo-White-Wide.png
  frontend/public/favicon-black.png
  frontend/public/favicon-dark.png
  frontend/public/favicon.png
  frontend/public/logo-wide.png
  frontend/public/logo.png
  frontend/src/components/GoogleLogin.js
  frontend/src/components/ModernChat.js
  frontend/src/components/PasswordLogin.js
  frontend/src/components/QuickStart.jsx
  frontend/src/components/admin/BrandingSettings.jsx
  frontend/src/components/chat/ModernChat/ConversationSidebar.jsx
  frontend/src/components/chat/ModernChat/__tests__/ConversationSidebar.test.jsx
  frontend/src/components/layout/TopBar.jsx
  frontend/src/contexts/ThemeContext.jsx
  frontend/src/layouts/AdminLayout.js
  frontend/src/services/api.js
  frontend/src/utils/__tests__/brandingUtils.test.js
  frontend/src/utils/__tests__/constants.test.js
  frontend/src/utils/brandingUtils.js
  frontend/src/utils/constants.js
Due: eslint, prettier-frontend

fix(SHU-558): Use ConfigurationManager for user preference defaults instead of hardcoded values
  .env.example
  backend/src/shu/api/user_preferences.py
  backend/src/shu/core/config.py
  frontend/src/contexts/ThemeContext.jsx
Due: eslint, prettier-frontend

Early exp close, long message dialog and model discovery
  frontend/src/components/ExperienceRunDialog.js
  frontend/src/components/LLMProviders.js
  frontend/src/components/ModernChat.js
  frontend/src/components/chat/ModernChat/LongConversationDialog.jsx
  frontend/src/components/chat/ModernChat/ModernChatView.jsx
  frontend/src/components/chat/ModernChat/hooks/useChatUiState.js
  frontend/src/components/chat/ModernChat/hooks/useMessageStream.js
  frontend/src/components/chat/ModernChat/utils/chatConfig.js
Due: eslint, prettier-frontend

fix(SHU-OPS): EasyOCR singleton + OCR concurrency cap to prevent OOM
  .env.example
  backend/src/shu/core/config.py
  backend/src/shu/processors/text_extractor.py
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx)$
  prettier-frontend: any of: ^frontend/.*\.(js|jsx|json|css|md)$, but not: package-lock\.json$
