Repository Open-Shu/shu: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier-frontend

eslint:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && npx eslint --fix $(echo "$@" | sed "s|frontend/||g")' --
  language: system
  pass_filenames: true

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd frontend && npx prettier --write $(echo "$@" | sed "s|frontend/||g")' --
  language: system
  pass_filenames: true

[SHU-642] Remove old scheduler
  backend/src/shu/services/experiences_scheduler_service.py
  backend/src/shu/services/scheduler_service.py
  backend/src/tests/unit/services/test_experiences_scheduler_service.py
Due: none

[SHU-426] Domain wide delegation for experience steps
  backend/migrations/versions/008_0004_add_experience_step_auth_override.py
  backend/src/shu/models/experience.py
  backend/src/shu/schemas/experience.py
  backend/src/shu/services/experience_executor.py
  backend/src/shu/services/experience_service.py
  backend/src/tests/unit/schemas/__init__.py
  backend/src/tests/unit/schemas/test_experience.py
  backend/src/tests/unit/services/test_experience_executor.py
  backend/src/tests/unit/services/test_experience_service.py
  frontend/src/components/ExperienceEditor.js
  frontend/src/components/ExperienceStepBuilder.js
  frontend/src/components/ProviderAuthPanel.js
Due: eslint, prettier-frontend

[SHU-613] PR fixes
  backend/src/shu/services/chat_service.py
  backend/src/shu/services/message_context_builder.py
  backend/src/shu/services/model_configuration_service.py
  frontend/src/components/UserPermissionsDashboard.js
Due: eslint, prettier-frontend

[SHU-426] Cleanup
  backend/src/shu/services/experience_executor.py
  backend/src/shu/services/experience_service.py
  backend/src/tests/unit/services/test_experience_service.py
  frontend/src/components/ExperienceEditor.js
  frontend/src/components/ExperienceStepBuilder.js
  frontend/src/components/ProviderAuthPanel.js
  frontend/src/components/shared/ExperienceBasicInfoPanel.js
  frontend/src/components/shared/ExperienceLLMPanel.js
Due: eslint, prettier-frontend

feat(benchmark): [SHU-636] [SHU-635] [SHU-634] add accuracy benchmark framework
  backend/src/tests/benchmark/README.md
  backend/src/tests/benchmark/__init__.py
  backend/src/tests/benchmark/ablation_runner.py
  backend/src/tests/benchmark/beir_loader.py
  backend/src/tests/benchmark/beir_reference_scores.py
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/corpus_ingestor.py
  backend/src/tests/benchmark/download_datasets.py
  backend/src/tests/benchmark/query_classifier.py
  backend/src/tests/benchmark/report_generator.py
  backend/src/tests/benchmark/result_collector.py
  backend/src/tests/benchmark/run_benchmark.py
  backend/src/tests/integ/test_benchmark_integration.py
  requirements.txt
Due: none

feat: [SHU-643] add model pricing module and granular token cost tracking
  backend/src/shu/core/model_pricing.py
  backend/src/shu/llm/service.py
  backend/src/shu/main.py
  backend/src/shu/services/side_call_service.py
Due: none

[SHU-426] PR fixes
  backend/migrations/versions/008_0003_empty.py
  backend/src/shu/schemas/experience.py
  backend/src/shu/services/experience_executor.py
  frontend/src/components/ExperienceEditor.js
  frontend/src/components/ExperienceStepBuilder.js
Due: eslint, prettier-frontend

[SHU-426] PR fixes
  backend/src/shu/schemas/experience.py
  backend/src/tests/unit/schemas/test_experience.py
Due: none

feat(retrieval): [SHU-644] replace KeywordMatch with BM25 retrieval surface
  .env.example
  backend/migrations/versions/008_0004_add_bm25_search_vector_drop_keywords.py
  backend/src/shu/core/config.py
  backend/src/shu/models/document.py
  backend/src/shu/schemas/profiling.py
  backend/src/shu/schemas/query.py
  backend/src/shu/services/kb_search_service.py
  backend/src/shu/services/profile_parser.py
  backend/src/shu/services/profiling_orchestrator.py
  backend/src/shu/services/profiling_service.py
  backend/src/shu/services/query/multi_surface.py
  backend/src/shu/services/query_service.py
  backend/src/shu/services/retrieval/multi_surface_search.py
  backend/src/shu/services/retrieval/protocol.py
  backend/src/shu/services/retrieval/score_fusion.py
  backend/src/shu/services/retrieval/surfaces/__init__.py
  backend/src/shu/services/retrieval/surfaces/bm25.py
  backend/src/shu/services/retrieval/surfaces/chunk_summary_vector.py
  backend/src/shu/services/retrieval/surfaces/chunk_vector.py
  backend/src/shu/services/retrieval/surfaces/keyword_match.py
  backend/src/shu/services/retrieval/surfaces/query_match.py
  backend/src/shu/services/retrieval/surfaces/synopsis_match.py
  backend/src/shu/services/retrieval/surfaces/topic_match.py
  backend/src/tests/benchmark/ablation_runner.py
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/download_datasets.py
  backend/src/tests/benchmark/report_generator.py
  backend/src/tests/benchmark/run_benchmark.py
  backend/src/tests/unit/models/test_document_models.py
  backend/src/tests/unit/services/retrieval/test_multi_surface_search.py
  backend/src/tests/unit/services/retrieval/test_surfaces.py
  backend/src/tests/unit/services/test_kb_search_service.py
  backend/src/tests/unit/services/test_profiling_service.py
  frontend/src/components/QueryTester.js
  frontend/src/components/SourcePreview.js
  requirements.txt
Due: eslint, prettier-frontend

feat(profiling): [SHU-645] preserve chunk provenance on synthesized queries
  backend/migrations/versions/008_0004_add_bm25_search_vector_drop_keywords.py
  backend/src/shu/models/document.py
  backend/src/shu/schemas/profiling.py
  backend/src/shu/services/profile_parser.py
  backend/src/shu/services/profiling_orchestrator.py
  backend/src/shu/services/profiling_service.py
  backend/src/shu/services/retrieval/surfaces/query_match.py
  backend/src/tests/unit/services/retrieval/test_surfaces.py
  backend/src/tests/unit/services/test_profiling_orchestrator.py
  backend/src/tests/unit/services/test_profiling_service.py
Due: none

feat(retrieval): [SHU-644] replace keyword search with ParadeDB BM25 and switch to max fusion
  backend/migrations/versions/008_0004_add_bm25_search_vector_drop_keywords.py
  backend/src/shu/models/document.py
  backend/src/shu/services/retrieval/score_fusion.py
  backend/src/shu/services/retrieval/surfaces/bm25.py
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/integ/integration_test_runner.py
  backend/src/tests/unit/services/retrieval/test_score_fusion.py
  backend/src/tests/unit/services/retrieval/test_surfaces.py
  deployment/compose/docker-compose.yml
  init-db.sql
Due: none

[SHU-560] Backend changes to attach KBs to chats
  backend/src/shu/api/chat.py
  backend/src/shu/services/chat_service.py
  backend/src/shu/services/chat_streaming.py
  backend/src/shu/services/knowledge_base_service.py
  backend/src/shu/services/message_context_builder.py
  backend/src/tests/unit/api/test_chat.py
  backend/src/tests/unit/api/test_knowledge_bases.py
  backend/src/tests/unit/services/test_chat_service.py
  backend/src/tests/unit/services/test_kb_service_pbac.py
  backend/src/tests/unit/services/test_message_context_builder.py
Due: none

[SHU-560] Frontend changes for KB attach
  frontend/src/components/ModernChat.js
  frontend/src/components/chat/ModernChat/InputBar.jsx
  frontend/src/components/chat/ModernChat/KBPickerDialog.jsx
  frontend/src/components/chat/ModernChat/ModernChatView.jsx
  frontend/src/components/chat/ModernChat/__tests__/KBPickerDialog.test.jsx
  frontend/src/components/chat/ModernChat/hooks/__tests__/useKBPicker.test.js
  frontend/src/components/chat/ModernChat/hooks/useChatComposer.js
  frontend/src/components/chat/ModernChat/hooks/useKBPicker.js
Due: eslint, prettier-frontend

[SHU-560] PR fixes
  backend/src/shu/services/chat_service.py
  backend/src/shu/services/chat_streaming.py
  backend/src/shu/services/knowledge_base_service.py
  backend/src/shu/services/message_context_builder.py
  docs/onboarding/EXTERNAL_CLIENT_INTEGRATION.md
  docs/onboarding/README.md
  frontend/src/components/chat/ModernChat/InputBar.jsx
  frontend/src/components/chat/ModernChat/KBPickerDialog.jsx
  frontend/src/services/api.js
Due: eslint, prettier-frontend

[SHU-560] Regenerate path
  backend/src/shu/api/chat.py
  backend/src/shu/services/chat_service.py
  frontend/src/components/ModernChat.js
  frontend/src/components/chat/ModernChat/hooks/useChatStreaming.js
  frontend/src/components/chat/ModernChat/hooks/useMessageRegeneration.js
Due: eslint, prettier-frontend

[SHU-648] KB export / import backend
  backend/migrations/versions/008_0005_add_import_progress_to_knowledge_bases.py
  backend/src/shu/api/knowledge_bases.py
  backend/src/shu/core/workload_routing.py
  backend/src/shu/main.py
  backend/src/shu/models/knowledge_base.py
  backend/src/shu/schemas/knowledge_base.py
  backend/src/shu/services/kb_import_export.py
  backend/src/shu/worker.py
  backend/src/shu/workers/__init__.py
  backend/src/shu/workers/kb_import_handler.py
  backend/src/tests/unit/services/test_kb_import_export.py
  backend/src/tests/unit/workers/test_embed_handler.py
  backend/src/tests/unit/workers/test_embed_handler_error_handling.py
  backend/src/tests/unit/workers/test_kb_deleted_early_exit.py
  backend/src/tests/unit/workers/test_kb_import_handler.py
  backend/src/tests/unit/workers/test_ocr_confidence_propagation.py
  backend/src/tests/unit/workers/test_ocr_handler_error_handling.py
  backend/src/tests/unit/workers/test_ocr_memory_fixes.py
  backend/src/tests/unit/workers/test_payload_validation.py
  backend/src/tests/unit/workers/test_plugin_execution_heartbeat.py
  backend/src/tests/unit/workers/test_text_extractor_edge_cases.py
  frontend/.eslintrc.json
Due: prettier-frontend

[SHU-648] export / import frontend
  frontend/src/components/ExportKBButton.jsx
  frontend/src/components/ImportKBWizard.jsx
  frontend/src/components/KnowledgeBases.js
  frontend/src/components/import-kb-wizard/FileUploadStep.jsx
  frontend/src/components/import-kb-wizard/ImportConfirmStep.jsx
  frontend/src/components/import-kb-wizard/ManifestPreviewStep.jsx
  frontend/src/services/api.js
Due: eslint, prettier-frontend

[SHU-642] Remove old scheduler (#104)
  backend/src/shu/services/experiences_scheduler_service.py
  backend/src/shu/services/scheduler_service.py
  backend/src/tests/unit/services/test_experiences_scheduler_service.py
Due: none

[SHU-648] PR fixes
  backend/src/shu/api/knowledge_bases.py
  backend/src/shu/models/document.py
  backend/src/shu/schemas/knowledge_base.py
  backend/src/shu/services/kb_import_export_service.py
  backend/src/shu/services/knowledge_base_service.py
  backend/src/shu/utils/embedding_codec.py
  backend/src/shu/workers/kb_import_handler.py
  backend/src/tests/unit/core/test_worker_mode.py
  backend/src/tests/unit/services/test_kb_import_export_service.py
  backend/src/tests/unit/workers/test_kb_import_handler.py
  frontend/src/components/ImportKBWizard.jsx
  frontend/src/components/KnowledgeBases.js
  frontend/src/components/import-kb-wizard/FileUploadStep.jsx
Due: eslint, prettier-frontend

[SHU-648] PR fixes
  backend/src/shu/api/knowledge_bases.py
  backend/src/shu/models/document.py
  backend/src/shu/services/kb_import_export_service.py
  frontend/src/components/ImportKBWizard.jsx
  frontend/src/components/import-kb-wizard/FileUploadStep.jsx
Due: eslint, prettier-frontend

[SHU-648] PR fixes
  .env.example
  backend/src/shu/core/config.py
  backend/src/shu/services/kb_import_export_service.py
  backend/src/tests/unit/services/test_kb_import_export_service.py
Due: none

[SHU-648] PR fixes
  backend/src/shu/services/kb_import_export_service.py
Due: none

feat: [SHU-644] make BM25/pg_search optional with graceful degradation
  .env.example
  Makefile
  backend/migrations/versions/008_0004_add_bm25_search_vector_drop_keywords.py
  backend/src/shu/api/knowledge_bases.py
  backend/src/shu/core/config.py
  backend/src/shu/services/query/multi_surface.py
  backend/src/shu/services/retrieval/score_fusion.py
  backend/src/shu/services/retrieval/surfaces/bm25.py
  backend/src/shu/services/side_call_service.py
  frontend/src/components/ChunkDetailModal.jsx
  init-db.sql
Due: eslint, prettier-frontend

fix(Makefile): [SHU-644] derive psql URL from SHU_DATABASE_URL in enable-bm25
  Makefile
Due: none

refactor: [SHU-650] add server-side pagination for document chunks
  backend/src/shu/api/knowledge_bases.py
  backend/src/shu/services/document_service.py
Due: none

fix: [SHU-650] derive chunk total from API only, not search result counts
  frontend/src/components/ChunkDetailModal.jsx
  frontend/src/components/SourcePreview.js
Due: eslint, prettier-frontend

fix: validate doc existence, handle zero queries, fix stale chunk fallback, add keyboard a11y to chunk items
  backend/src/shu/services/document_service.py
  backend/src/shu/services/profiling_service.py
  backend/src/tests/unit/services/retrieval/test_score_fusion.py
  backend/src/tests/unit/services/retrieval/test_surfaces.py
  frontend/src/components/ChunkDetailModal.jsx
  frontend/src/components/SourcePreview.js
Due: eslint, prettier-frontend

fix: [SHU-650] only show surface/score chips for initial chunk index
  frontend/src/components/ChunkDetailModal.jsx
  frontend/src/components/SourcePreview.js
Due: eslint, prettier-frontend

[SHU-87] Client, adapter and service + unit tests
  .env.example
  backend/migrations/versions/008_0006_mcp_server_connections.py
  backend/src/shu/core/config.py
  backend/src/shu/models/__init__.py
  backend/src/shu/models/mcp_server_connection.py
  backend/src/shu/models/registry.py
  backend/src/shu/plugins/mcp_adapter.py
  backend/src/shu/plugins/mcp_client.py
  backend/src/shu/schemas/mcp_admin.py
  backend/src/shu/services/mcp_service.py
  backend/src/tests/unit/plugins/test_mcp_adapter.py
  backend/src/tests/unit/plugins/test_mcp_client.py
  backend/src/tests/unit/services/test_mcp_service.py
Due: none

[SHU-87] API
  backend/src/shu/api/mcp_admin.py
  backend/src/shu/api/plugins_router.py
  backend/src/shu/services/mcp_service.py
  backend/src/tests/unit/api/test_mcp_admin.py
  backend/src/tests/unit/services/test_mcp_service.py
Due: none

fix: [SHU-647] benchmark runner fixes, test assertions, and docs clarity
  backend/src/tests/benchmark/README.md
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/case_study_nfcorpus_answer_utility.md
  backend/src/tests/benchmark/download_datasets.py
  backend/src/tests/benchmark/run_relevance_judge.py
  backend/src/tests/integ/test_benchmark_integration.py
Due: none

feat: add benchmarking framework for retrieval quality evaluation
  backend/src/tests/benchmark/README.md
  backend/src/tests/benchmark/__init__.py
  backend/src/tests/benchmark/ablation_runner.py
  backend/src/tests/benchmark/beir_loader.py
  backend/src/tests/benchmark/beir_reference_scores.py
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/case_study_nfcorpus_answer_utility.md
  backend/src/tests/benchmark/corpus_ingestor.py
  backend/src/tests/benchmark/download_datasets.py
  backend/src/tests/benchmark/query_classifier.py
  backend/src/tests/benchmark/relevance_judge.py
  backend/src/tests/benchmark/report_generator.py
  backend/src/tests/benchmark/result_collector.py
  backend/src/tests/benchmark/retrieval_quality_analysis.py
  backend/src/tests/benchmark/retrieval_quality_nfcorpus.md
  backend/src/tests/benchmark/run_benchmark.py
  backend/src/tests/benchmark/run_relevance_judge.py
  backend/src/tests/integ/test_benchmark_integration.py
  requirements.txt
Due: none

feat: [SHU-647] expose untruncated surface scores for unbiased benchmark eval
  backend/src/shu/services/query/multi_surface.py
  backend/src/shu/services/retrieval/multi_surface_search.py
  backend/src/shu/services/retrieval/score_fusion.py
  backend/src/tests/benchmark/ablation_runner.py
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/relevance_judge.py
  backend/src/tests/benchmark/report_generator.py
  backend/src/tests/benchmark/result_collector.py
  backend/src/tests/benchmark/run_benchmark.py
  backend/src/tests/benchmark/run_relevance_judge.py
  backend/src/tests/integ/test_benchmark_integration.py
  frontend/src/components/ChunkDetailModal.jsx
Due: eslint, prettier-frontend

refactor(benchmark): [SHU-635] replace ablation runner with local fusion impact
  backend/src/shu/services/retrieval/score_fusion.py
  backend/src/tests/benchmark/README.md
  backend/src/tests/benchmark/ablation_runner.py
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/report_generator.py
  backend/src/tests/benchmark/run_benchmark.py
  backend/src/tests/benchmark/run_relevance_judge.py
Due: none

fix(beir_loader): [SHU-635] filter queries to only include those with qrels
  backend/src/tests/benchmark/beir_loader.py
Due: none

fix(tests): update fuse/search mocks to return (results, all_scores) tuple
  backend/src/tests/unit/services/retrieval/test_multi_surface_search.py
  backend/src/tests/unit/services/retrieval/test_score_fusion.py
Due: none

[SHU-87] Plugin integration
  backend/src/shu/api/mcp_admin.py
  backend/src/shu/plugins/mcp_adapter.py
  backend/src/shu/plugins/mcp_client.py
  backend/src/shu/plugins/registry.py
  backend/src/shu/services/mcp_service.py
  backend/src/tests/unit/plugins/test_registry.py
  backend/src/tests/unit/services/test_mcp_service.py
Due: none

[SHU-87] Bug and functional fixes
  backend/src/shu/main.py
  backend/src/shu/plugins/installer.py
  backend/src/shu/plugins/loader.py
  backend/src/shu/plugins/mcp_adapter.py
  backend/src/shu/plugins/mcp_client.py
  backend/src/shu/plugins/registry.py
  backend/src/shu/services/mcp_service.py
  backend/src/shu/services/plugin_execution.py
  backend/src/tests/unit/plugins/test_mcp_client.py
  backend/src/tests/unit/plugins/test_registry.py
  backend/src/tests/unit/services/test_mcp_service.py
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx)$
  prettier-frontend: any of: ^frontend/.*\.(js|jsx|json|css|md)$, but not: package-lock\.json$
