Repository Open-Shu/shu: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier-frontend

eslint:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && npx eslint --fix $(echo "$@" | sed "s|frontend/||g")' --
  language: system
  pass_filenames: true

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd frontend && npx prettier --write $(echo "$@" | sed "s|frontend/||g")' --
  language: system
  pass_filenames: true

[SHU-87] MCP frontend changes
  frontend/src/App.js
  frontend/src/components/McpAdmin.js
  frontend/src/components/McpConnectionDialog.js
  frontend/src/components/McpIngestConfigForm.js
  frontend/src/components/McpToolConfigPanel.js
  frontend/src/layouts/AdminLayout.js
  frontend/src/services/mcpApi.js
Due: eslint, prettier-frontend

[SHU-87] PR fixes
  backend/migrations/versions/008_0006_mcp_server_connections.py
  backend/src/shu/models/mcp_server_connection.py
  backend/src/shu/plugins/executor.py
  backend/src/shu/plugins/mcp_adapter.py
  backend/src/shu/plugins/mcp_client.py
  backend/src/shu/plugins/registry.py
  backend/src/shu/schemas/mcp_admin.py
  backend/src/shu/services/mcp_service.py
  backend/src/shu/services/plugins_scheduler_service.py
  backend/src/tests/unit/api/test_mcp_admin.py
  backend/src/tests/unit/plugins/test_executor.py
  backend/src/tests/unit/plugins/test_mcp_adapter.py
  backend/src/tests/unit/plugins/test_mcp_client.py
  backend/src/tests/unit/plugins/test_registry.py
  backend/src/tests/unit/services/test_mcp_service.py
  frontend/src/components/FeedDialog.js
  frontend/src/components/McpAdmin.js
  frontend/src/components/McpConnectionDialog.js
  frontend/src/components/McpToolConfigPanel.js
Due: eslint, prettier-frontend

[SHU-87] PR fixes
  backend/src/shu/plugins/mcp_adapter.py
  backend/src/shu/plugins/mcp_client.py
  backend/src/shu/plugins/registry.py
  backend/src/shu/services/mcp_service.py
  frontend/src/components/SchemaForm.js
Due: eslint, prettier-frontend

[SHU-87] PR fixes
  backend/src/shu/plugins/mcp_adapter.py
  backend/src/shu/plugins/mcp_client.py
Due: none

[SHU-87] Final fight against coderabbit
  backend/src/shu/plugins/mcp_client.py
Due: none

[SHU-426] PR cleanup
  backend/migrations/versions/008_0003_empty.py
  backend/migrations/versions/008_0005_add_experience_step_auth_override.py
  backend/src/shu/services/experience_service.py
  frontend/src/components/ExperienceEditor.js
  frontend/src/components/ProviderAuthPanel.js
Due: eslint, prettier-frontend

[SHU-426] Experience DWD (#105)
  backend/migrations/versions/008_0005_add_experience_step_auth_override.py
  backend/src/shu/models/experience.py
  backend/src/shu/schemas/experience.py
  backend/src/shu/services/experience_executor.py
  backend/src/shu/services/experience_service.py
  backend/src/tests/unit/schemas/__init__.py
  backend/src/tests/unit/schemas/test_experience.py
  backend/src/tests/unit/services/test_experience_executor.py
  backend/src/tests/unit/services/test_experience_service.py
  frontend/src/components/ExperienceEditor.js
  frontend/src/components/ExperienceStepBuilder.js
  frontend/src/components/ProviderAuthPanel.js
  frontend/src/components/shared/ExperienceBasicInfoPanel.js
  frontend/src/components/shared/ExperienceLLMPanel.js
Due: eslint, prettier-frontend

[SHU-560] Attach KB to conversation dynamically (#106)
  backend/src/shu/api/chat.py
  backend/src/shu/services/chat_service.py
  backend/src/shu/services/chat_streaming.py
  backend/src/shu/services/knowledge_base_service.py
  backend/src/shu/services/message_context_builder.py
  backend/src/tests/unit/api/test_chat.py
  backend/src/tests/unit/api/test_knowledge_bases.py
  backend/src/tests/unit/services/test_chat_service.py
  backend/src/tests/unit/services/test_kb_service_pbac.py
  backend/src/tests/unit/services/test_message_context_builder.py
  docs/onboarding/EXTERNAL_CLIENT_INTEGRATION.md
  docs/onboarding/README.md
  frontend/src/components/ModernChat.js
  frontend/src/components/chat/ModernChat/InputBar.jsx
  frontend/src/components/chat/ModernChat/KBPickerDialog.jsx
  frontend/src/components/chat/ModernChat/ModernChatView.jsx
  frontend/src/components/chat/ModernChat/__tests__/KBPickerDialog.test.jsx
  frontend/src/components/chat/ModernChat/hooks/__tests__/useKBPicker.test.js
  frontend/src/components/chat/ModernChat/hooks/useChatComposer.js
  frontend/src/components/chat/ModernChat/hooks/useChatStreaming.js
  frontend/src/components/chat/ModernChat/hooks/useKBPicker.js
  frontend/src/components/chat/ModernChat/hooks/useMessageRegeneration.js
  frontend/src/services/api.js
Due: eslint, prettier-frontend

[SHU-648] export / import frontend
  frontend/src/components/ExportKBButton.jsx
  frontend/src/components/ImportKBWizard.jsx
  frontend/src/components/KnowledgeBases.js
  frontend/src/components/import-kb-wizard/FileUploadStep.jsx
  frontend/src/components/import-kb-wizard/ImportConfirmStep.jsx
  frontend/src/components/import-kb-wizard/ManifestPreviewStep.jsx
  frontend/src/services/api.js
Due: eslint, prettier-frontend

[SHU-648] KB export / import backend
  backend/migrations/versions/008_0005_add_import_progress_to_knowledge_bases.py
  backend/src/shu/api/knowledge_bases.py
  backend/src/shu/core/workload_routing.py
  backend/src/shu/main.py
  backend/src/shu/models/knowledge_base.py
  backend/src/shu/schemas/knowledge_base.py
  backend/src/shu/services/kb_import_export.py
  backend/src/shu/worker.py
  backend/src/shu/workers/__init__.py
  backend/src/shu/workers/kb_import_handler.py
  backend/src/tests/unit/services/test_kb_import_export.py
  backend/src/tests/unit/workers/test_embed_handler.py
  backend/src/tests/unit/workers/test_embed_handler_error_handling.py
  backend/src/tests/unit/workers/test_kb_deleted_early_exit.py
  backend/src/tests/unit/workers/test_kb_import_handler.py
  backend/src/tests/unit/workers/test_ocr_confidence_propagation.py
  backend/src/tests/unit/workers/test_ocr_handler_error_handling.py
  backend/src/tests/unit/workers/test_ocr_memory_fixes.py
  backend/src/tests/unit/workers/test_payload_validation.py
  backend/src/tests/unit/workers/test_plugin_execution_heartbeat.py
  backend/src/tests/unit/workers/test_text_extractor_edge_cases.py
  frontend/.eslintrc.json
Due: prettier-frontend

[SHU-648] PR fixes
  backend/src/shu/api/knowledge_bases.py
  backend/src/shu/models/document.py
  backend/src/shu/schemas/knowledge_base.py
  backend/src/shu/services/kb_import_export_service.py
  backend/src/shu/services/knowledge_base_service.py
  backend/src/shu/utils/embedding_codec.py
  backend/src/shu/workers/kb_import_handler.py
  backend/src/tests/unit/core/test_worker_mode.py
  backend/src/tests/unit/services/test_kb_import_export_service.py
  backend/src/tests/unit/workers/test_kb_import_handler.py
  frontend/src/components/ImportKBWizard.jsx
  frontend/src/components/KnowledgeBases.js
  frontend/src/components/import-kb-wizard/FileUploadStep.jsx
Due: eslint, prettier-frontend

[SHU-648] PR fixes
  .env.example
  backend/src/shu/core/config.py
  backend/src/shu/services/kb_import_export_service.py
  backend/src/tests/unit/services/test_kb_import_export_service.py
Due: none

[SHU-648] PR fixes
  backend/src/shu/services/kb_import_export_service.py
Due: none

[SHU-648] PR fixes
  backend/src/shu/api/knowledge_bases.py
  backend/src/shu/models/document.py
  backend/src/shu/services/kb_import_export_service.py
  frontend/src/components/ImportKBWizard.jsx
  frontend/src/components/import-kb-wizard/FileUploadStep.jsx
Due: eslint, prettier-frontend

fix: [SHU-648] Re-remove obsolete keyword column from DocumentChunk
  backend/src/shu/models/document.py
  backend/src/tests/unit/services/test_kb_import_export_service.py
Due: none

refactor: [SHU-648] run KB imports as in-process background tasks
  backend/src/shu/api/knowledge_bases.py
  backend/src/shu/core/workload_routing.py
  backend/src/shu/main.py
  backend/src/shu/services/kb_import_export_service.py
  backend/src/shu/worker.py
  backend/src/shu/workers/kb_import_handler.py
  backend/src/tests/unit/core/test_worker_mode.py
  backend/src/tests/unit/services/test_kb_import_export_service.py
  backend/src/tests/unit/workers/test_kb_import_handler.py
Due: none

fix: [SHU-648] infer document processing_status from profiling artifacts
  backend/migrations/versions/008_0006_add_import_progress_to_knowledge_bases.py
  backend/src/shu/models/document.py
Due: none

refactor(migrations): [SHU-648] use idempotent helpers for column operations
  backend/migrations/versions/008_0006_add_import_progress_to_knowledge_bases.py
Due: none

fix(beir_loader): [SHU-635] filter queries to only include those with qrels
  backend/src/tests/benchmark/beir_loader.py
Due: none

fix: [SHU-647] benchmark runner fixes, test assertions, and docs clarity
  backend/src/tests/benchmark/README.md
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/case_study_nfcorpus_answer_utility.md
  backend/src/tests/benchmark/download_datasets.py
  backend/src/tests/benchmark/run_relevance_judge.py
  backend/src/tests/integ/test_benchmark_integration.py
Due: none

refactor(benchmark): [SHU-635] replace ablation runner with local fusion impact
  backend/src/shu/services/retrieval/score_fusion.py
  backend/src/tests/benchmark/README.md
  backend/src/tests/benchmark/ablation_runner.py
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/report_generator.py
  backend/src/tests/benchmark/run_benchmark.py
  backend/src/tests/benchmark/run_relevance_judge.py
Due: none

feat: add benchmarking framework for retrieval quality evaluation
  backend/src/tests/benchmark/README.md
  backend/src/tests/benchmark/__init__.py
  backend/src/tests/benchmark/ablation_runner.py
  backend/src/tests/benchmark/beir_loader.py
  backend/src/tests/benchmark/beir_reference_scores.py
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/case_study_nfcorpus_answer_utility.md
  backend/src/tests/benchmark/corpus_ingestor.py
  backend/src/tests/benchmark/download_datasets.py
  backend/src/tests/benchmark/query_classifier.py
  backend/src/tests/benchmark/relevance_judge.py
  backend/src/tests/benchmark/report_generator.py
  backend/src/tests/benchmark/result_collector.py
  backend/src/tests/benchmark/retrieval_quality_analysis.py
  backend/src/tests/benchmark/retrieval_quality_nfcorpus.md
  backend/src/tests/benchmark/run_benchmark.py
  backend/src/tests/benchmark/run_relevance_judge.py
  backend/src/tests/integ/test_benchmark_integration.py
  requirements.txt
Due: none

fix(tests): update fuse/search mocks to return (results, all_scores) tuple
  backend/src/tests/unit/services/retrieval/test_multi_surface_search.py
  backend/src/tests/unit/services/retrieval/test_score_fusion.py
Due: none

feat: [SHU-647] expose untruncated surface scores for unbiased benchmark eval
  backend/src/shu/services/query/multi_surface.py
  backend/src/shu/services/retrieval/multi_surface_search.py
  backend/src/shu/services/retrieval/score_fusion.py
  backend/src/tests/benchmark/ablation_runner.py
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/relevance_judge.py
  backend/src/tests/benchmark/report_generator.py
  backend/src/tests/benchmark/result_collector.py
  backend/src/tests/benchmark/run_benchmark.py
  backend/src/tests/benchmark/run_relevance_judge.py
  backend/src/tests/integ/test_benchmark_integration.py
  frontend/src/components/ChunkDetailModal.jsx
Due: eslint, prettier-frontend

refactor(benchmark): [SHU-653] remove weight recommendations from BEIR report
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/report_generator.py
Due: none

fix: [SHU-647] extract ms_is_set_a from de-blinded footer in verdict parsing
  backend/src/tests/benchmark/run_answer_utility_eval.py
Due: none

fix(code-review): [SHU-655] fix feedback
  backend/src/shu/schemas/query.py
  backend/src/shu/services/retrieval/__init__.py
  backend/src/shu/services/retrieval/multi_surface_search.py
  backend/src/shu/services/retrieval/result_formatter.py
  backend/src/shu/services/retrieval/score_fusion.py
  backend/src/shu/services/retrieval/surfaces/synopsis_match.py
  backend/src/tests/benchmark/report_generator.py
  backend/src/tests/unit/services/retrieval/test_score_fusion.py
  docs/whitepapers/BENCHMARK-METHODOLOGY.md
  frontend/src/components/ChunkDetailModal.jsx
  frontend/src/components/QueryTester.js
  frontend/src/components/SourcePreview.js
  frontend/src/utils/constants.js
Due: eslint, prettier-frontend

refactor(benchmark): [SHU-653] remove fusion impact and weight recommendations
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/report_generator.py
Due: none

fix: generalize head-to-head metric for binary and graded qrels
  backend/src/shu/services/retrieval/score_fusion.py
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/case_study_nfcorpus_answer_utility.md
  backend/src/tests/benchmark/report_generator.py
Due: none

feat(benchmark): [SHU-647] add automated answer-utility evaluation pipeline for case-study
  backend/src/tests/benchmark/run_answer_utility_eval.py
Due: none

feat(retrieval): [SHU-652] add structured multi-surface result formatter
  backend/src/shu/services/query/multi_surface.py
  backend/src/shu/services/retrieval/__init__.py
  backend/src/shu/services/retrieval/multi_surface_search.py
  backend/src/shu/services/retrieval/protocol.py
  backend/src/shu/services/retrieval/result_formatter.py
  backend/src/shu/services/retrieval/score_fusion.py
  backend/src/tests/unit/services/retrieval/test_multi_surface_search.py
  backend/src/tests/unit/services/retrieval/test_score_fusion.py
  backend/src/tests/unit/services/retrieval/test_surfaces.py
  frontend/src/components/QueryTester.js
  frontend/src/utils/exportForJudgment.js
Due: eslint, prettier-frontend

feat(benchmark): [SHU-647] improve answer-utility eval pipeline
  backend/src/tests/benchmark/README.md
  backend/src/tests/benchmark/run_answer_utility_eval.py
Due: none

feat: [SHU-651] add fusion formula control and LLM judgment export
  backend/src/shu/schemas/query.py
  backend/src/shu/services/query/multi_surface.py
  backend/src/shu/services/query_service.py
  backend/src/shu/services/retrieval/protocol.py
  backend/src/shu/services/retrieval/score_fusion.py
  backend/src/shu/services/retrieval/surfaces/query_match.py
  backend/src/shu/services/retrieval/surfaces/synopsis_match.py
  frontend/src/components/QueryTester.js
  frontend/src/utils/exportForJudgment.js
Due: eslint, prettier-frontend

feat: [SHU-655] multi-surface UI improvements and chunk cap
  backend/src/shu/services/query/multi_surface.py
  backend/src/shu/services/retrieval/__init__.py
  backend/src/shu/services/retrieval/multi_surface_search.py
  backend/src/shu/services/retrieval/result_formatter.py
  backend/src/shu/services/retrieval/score_fusion.py
  backend/src/tests/unit/services/retrieval/test_score_fusion.py
  frontend/src/components/SourcePreview.js
Due: eslint, prettier-frontend

[SHU-657] Backend changes
  backend/src/shu/api/chat_plugins.py
  backend/src/shu/api/plugins_public.py
  backend/src/shu/models/plugin_execution.py
  backend/src/shu/plugins/base.py
  backend/src/shu/plugins/executor.py
  backend/src/shu/plugins/loader.py
  backend/src/shu/plugins/registry.py
  backend/src/shu/plugins/schema.py
  backend/src/shu/services/plugin_execution.py
  backend/src/shu/services/providers/adapters/anthropic_adapter.py
  backend/src/shu/services/providers/adapters/completions_adapter.py
  backend/src/shu/services/providers/adapters/gemini_adapter.py
  backend/src/shu/services/providers/adapters/responses_adapter.py
  backend/src/shu/services/providers/adapters/xai_adapter.py
  backend/src/tests/unit/plugins/test_executor.py
  backend/src/tests/unit/plugins/test_schema.py
  backend/src/tests/unit/services/providers/adapters/shared.py
  backend/src/tests/unit/services/test_plugin_execution.py
  backend/src/tests/unit/services/test_plugin_execution_pbac.py
Due: none

feat: [SHU-651] track effective weights in benchmark results and reports
  backend/src/tests/benchmark/benchmark_runner.py
  backend/src/tests/benchmark/report_generator.py
  frontend/src/components/SourcePreview.js
Due: eslint, prettier-frontend

[SHU-657] Frontend changes
  frontend/src/components/ExperienceStepBuilder.js
  frontend/src/components/FeedDialog.js
  frontend/src/components/PluginExecutionModal.js
  frontend/src/components/PluginsAdmin.js
Due: eslint, prettier-frontend

fix: [SHU-651] preserve whitespace formatting in chunk snippet preview
  frontend/src/components/SourcePreview.js
Due: eslint, prettier-frontend

[SHU-657] Polishing
  backend/src/shu/api/plugins_admin.py
  backend/src/shu/api/plugins_public.py
  backend/src/shu/plugins/executor.py
  backend/src/shu/plugins/mcp_adapter.py
  backend/src/shu/plugins/schema.py
  backend/src/shu/schemas/mcp_admin.py
  backend/src/shu/services/plugin_execution.py
  backend/src/shu/services/plugin_execution_runner.py
  backend/src/shu/services/plugins_feed_policy.py
  backend/src/tests/integ/test_outlook_mail_plugin_registration.py
  backend/src/tests/integ/test_tool_registry_integration.py
  backend/src/tests/unit/plugins/test_schema.py
  docs/contracts/PLUGIN_CONTRACT.md
  frontend/src/components/FeedDialog.js
  frontend/src/components/ProviderAuthPanel.js
  frontend/src/services/pluginsApi.js
  plugins/github/plugin.py
  plugins/shu_kb_search/plugin.py
Due: eslint, prettier-frontend

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx)$
  prettier-frontend: any of: ^frontend/.*\.(js|jsx|json|css|md)$, but not: package-lock\.json$
